.container{
  background-color: #ffffff;
}

#chat-container {
  height: 90vh; /* Adjust the height as per your requirement */
  overflow-y: auto;
  margin: auto;
  padding-left: 7rem;
  /* padding-top: 7rem; */
  padding-right: 7rem;
  background-color: white;
 
}


.chat-list-container {
  height: 100%;
}

.messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex; /* Allow horizontal layout for positioning */
  max-width: 50%;
}

/* User's message (own message) */
.own-message {
  background-color: #e0f2ff;
  justify-content: flex-end; /* Align to the right side */
  margin-left: auto; /* Move to the right edge */ /* Example background color for your own messages */
}

.other-message {
  background-color: #f5f5f5;
  justify-content: flex-start;  /* Example background color for other messages */
}

.message-content {
  word-wrap: break-word;
  margin: 0 10px;
}

.sender {
  font-style: italic;
  font-size: 0.8rem;
  color: #333;
}
#form {
  position: relative;
  bottom: 15px;
  width: 85%;
  background-color: #fff;
  display: flex;
  padding: 10px;
  border: 2px solid #ddd;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

#input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 70%; /* Adjust width as desired */
}

#form button {
  background-color: #54a0ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}



.userCountContainer {
  position: fixed;
  top: 4px;
  right: 17px;
  background-color: white;
  padding: 1px;
  border: 1px solid #ccc;
}